groups:
- name: logistics-alerts
  rules:
  - alert: ServiceDown
    expr: up == 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Shërbimi {{ \.job }} është offline"
      description: "Shërbimi '{{ \.job }}' nuk është online për 2 minuta."

  - alert: HighLatency
    expr: histogram_quantile(0.95, sum(rate(http_request_duration_highr_seconds_bucket[5m])) by (le, job)) > 1
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "Latenca p95 e shërbimit {{ \.job }} është më e madhe se 1s"
      description: "Monitoro nëse latenca vazhdon të jetë e lartë."

  - alert: HighErrorRate
    expr: sum(rate(http_requests_total{status=~\"4..|5..\"}[5m])) by (job) / sum(rate(http_requests_total[5m])) by (job) > 0.05
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "Shkalla e gabimeve HTTP > 5% për shërbimin {{ \.job }}"
      description: "Kontrollo shërbimin për gabime të larta."
